<section class="global-collaboration">
    <div class="intro">
        <h2 class="section-title">Global Collaboration for a Future in STEM</h2>
        <p class="section-description">An inspiring journey of international collaboration, bringing STEM education to
            life through an engaging online game.</p>
    </div>

    <div class="collaboration-timeline">
        <div class="collaboration-item">
            <div class="collaboration-content">
                <h3>The Journey of Science Island</h3>
                <p>Science Island, hosted by Amazon Web Services (AWS), is a STEM educational game developed by
                    Swinburne Senior Lecturer James Marshall. The game was fast-tracked for release during the COVID-19
                    pandemic to provide educational support for children in lockdown.</p>
                <blockquote>“We had planned to launch Science Island at the end of 2020, but given the COVID-19 outbreak
                    and the number of children in social isolation, we have partnered with Amazon to launch a beta
                    version immediately,” says Mr. Marshall.</blockquote>
            </div>
            <div class="collaboration-image">
                <img src="assets/start.png" alt="Science Island Start">
            </div>
        </div>

        <div class="collaboration-item reverse">
            <div class="collaboration-content">
                <h3>Global Collaboration</h3>
                <p>The concept of Science Island was born in 2012 when Mr. Marshall partnered with the Kasese Humanist
                    Primary School in Uganda. Swinburne students and international scientists worked together to create
                    interactive content based on STEM questions from Ugandan students.</p>
                <blockquote>“I had this idea that Swinburne students could take a design-led approach to teaching STEM,
                    creating cool content and fun activities to inspire children all over the world,” says Mr. Marshall.
                </blockquote>
                <h4>Expanding the Partnership</h4>
                <p>The partnership with the Kasese Humanist Primary School in Uganda involved helping them develop their
                    infrastructure and teaching resources. Over the last six years, Swinburne and partners have
                    developed an entire campus for the school, including a computer room, a library, a vocational
                    center, even chicken pens, with the aim of feeding the kids one egg per day. There are now 650
                    students at the Kasese Humanist Primary School, of which about 100 are orphans.</p>
            </div>
            <div class="collaboration-image">
                <img src="assets/school.png" alt="Ugandan students playing Science Island">
            </div>
        </div>

        <div class="collaboration-item">
            <div class="collaboration-content">
                <h3>International Support</h3>
                <p>World-leading scientists from institutions like NASA, MIT, and the University of Cambridge
                    contributed to the project. Their collaboration resulted in more than 20 hours of animated video,
                    games, books, quizzes, songs, and experiments.</p>
                <blockquote>“We’ve even managed to get leading astrophysicist Pamela Gay to provide voice acting for the
                    character of ‘Jean Pool’,” says Mr. Marshall.</blockquote>
            </div>
            <div class="collaboration-image">
                <img src="assets/collab.png" alt="Global Support">
            </div>
        </div>
    </div>
</section>